In [172]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname = 'c:/Windows/Fonts/malgun.ttf').get_name()
rc('font', family = font_name)
import pandas as pd
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [173]:
train = pd.read_csv('../data/titanic//train.csv')

In [174]:
tmp=[]
for each in train["Sex"]:
    if each =="female":
        tmp.append(0)
    elif each=="male":
        tmp.append(1)
    else:
        tmp.append(np.nan)

In [175]:
train["Sex"]=tmp

In [176]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [177]:
train_1=train[["Survived","Pclass","Sex","Age","SibSp","Parch","Fare"]]

In [178]:
train_1.isnull().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
dtype: bool

In [179]:
nan=[]
for i in range(len(train_1)):
    na=train_1.isnull().loc[i].sum()
    nan.append(na)

In [180]:
nan

[0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0]

In [181]:
train_1["nan"]=nan

C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [182]:
train_1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  nan
0         0       3    1  22.0      1      0   7.2500    0
1         1       1    0  38.0      1      0  71.2833    0
2         1       3    0  26.0      0      0   7.9250    0
3         1       1    0  35.0      1      0  53.1000    0
4         0       3    1  35.0      0      0   8.0500    0

In [183]:
train_1.groupby(["SibSp"])["Age"].mean()

SibSp
0    31.397558
1    30.089727
2    22.620000
3    13.916667
4     7.055556
5    10.200000
8          NaN
Name: Age, dtype: float64

In [184]:
train_1_nan0=train_1[train_1["nan"]==0]
train_1_nan1=train_1[train_1["nan"]==1].reset_index()

In [185]:
train_1_nan1

     index  Survived  Pclass  Sex  Age  SibSp  Parch     Fare  nan
0        5         0       3    1  NaN      0      0   8.4583    1
1       17         1       2    1  NaN      0      0  13.0000    1
2       19         1       3    0  NaN      0      0   7.2250    1
3       26         0       3    1  NaN      0      0   7.2250    1
4       28         1       3    0  NaN      0      0   7.8792    1
..     ...       ...     ...  ...  ...    ...    ...      ...  ...
172    859         0       3    1  NaN      0      0   7.2292    1
173    863         0       3    0  NaN      8      2  69.5500    1
174    868         0       3    1  NaN      0      0   9.5000    1
175    878         0       3    1  NaN      0      0   7.8958    1
176    888         0       3    0  NaN      1      2  23.4500    1

[177 rows x 9 columns]

In [186]:
for i in range(len(train_1_nan1)):
    if (train_1_nan1["SibSp"][i]==0):
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[0]
    elif (train_1_nan1["SibSp"][i]==1):
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[1]
    elif (train_1_nan1["SibSp"][i]==2):
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[2]
    elif (train_1_nan1["SibSp"][i]==3):
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[3]
    elif (train_1_nan1["SibSp"][i]==4):
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[4]
    else:
        train_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[5]

C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [187]:
train_1_nan1

     index  Survived  Pclass  Sex        Age  SibSp  Parch     Fare  nan
0        5         0       3    1  31.397558      0      0   8.4583    1
1       17         1       2    1  31.397558      0      0  13.0000    1
2       19         1       3    0  31.397558      0      0   7.2250    1
3       26         0       3    1  31.397558      0      0   7.2250    1
4       28         1       3    0  31.397558      0      0   7.8792    1
..     ...       ...     ...  ...        ...    ...    ...      ...  ...
172    859         0       3    1  31.397558      0      0   7.2292    1
173    863         0       3    0  10.200000      8      2  69.5500    1
174    868         0       3    1  31.397558      0      0   9.5000    1
175    878         0       3    1  31.397558      0      0   7.8958    1
176    888         0       3    0  30.089727      1      2  23.4500    1

[177 rows x 9 columns]

In [188]:
train_2=pd.concat([train_1_nan0,train_1_nan1])

In [189]:
train_2=train_2[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',"Fare"]]

In [190]:
train_2.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [213]:
train_3=train_2[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',"Fare"]]

In [220]:
train_3.isnull().any()

Pclass    False
Sex       False
Age       False
SibSp     False
Parch     False
Fare      False
dtype: bool

In [221]:
from sklearn.ensemble import GradientBoostingClassifier
gbrt = GradientBoostingClassifier(n_estimators=500,random_state=0,max_depth=11,learning_rate=0.01)
gbrt.fit(train_3,train_2[["Survived"]])
print("훈련 세트 정확도 : {:.3f}".format(gbrt.score(train_3,train_2[["Survived"]])))

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.982

In [146]:
for i in range(300,1000,100):
    gbrt = GradientBoostingClassifier(n_estimators=i,random_state=0,max_depth=11,learning_rate=0.01)
    gbrt.fit(train_3,train_2[["Survived"]])
    print("훈련 세트 정확도 : {:.3f}".format(gbrt.score(train_3,train_2[["Survived"]])))

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.911

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.917

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

In [149]:
a=[]
for j in range(5,20,2):
    for i in range(300,1000,100):
        gbrt = GradientBoostingClassifier(n_estimators=i,random_state=0,max_depth=j,learning_rate=0.01)
        gbrt.fit(train_3,train_2[["Survived"]])
        print("훈련 세트 정확도 : {:.3f}".format(gbrt.score(train_3,train_2[["Survived"]])))
        a.append([j,i,gbrt.score(train_3,train_2[["Survived"]])])

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.884

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.886

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.891

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.895

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.899

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.905

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.909

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.905

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.912

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.917

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.915

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.920

In [150]:
a

[[5, 300, 0.8843995510662177],
 [5, 400, 0.8855218855218855],
 [5, 500, 0.8911335578002245],
 [5, 600, 0.8945005611672279],
 [5, 700, 0.898989898989899],
 [5, 800, 0.9046015712682379],
 [5, 900, 0.9090909090909091],
 [7, 300, 0.9046015712682379],
 [7, 400, 0.9124579124579124],
 [7, 500, 0.9169472502805837],
 [7, 600, 0.920314253647587],
 [7, 700, 0.920314253647587],
 [7, 800, 0.920314253647587],
 [7, 900, 0.920314253647587],
 [9, 300, 0.9147025813692481],
 [9, 400, 0.920314253647587],
 [9, 500, 0.920314253647587],
 [9, 600, 0.920314253647587],
 [9, 700, 0.920314253647587],
 [9, 800, 0.920314253647587],
 [9, 900, 0.920314253647587],
 [11, 300, 0.920314253647587],
 [11, 400, 0.920314253647587],
 [11, 500, 0.920314253647587],
 [11, 600, 0.920314253647587],
 [11, 700, 0.920314253647587],
 [11, 800, 0.920314253647587],
 [11, 900, 0.920314253647587],
 [13, 300, 0.920314253647587],
 [13, 400, 0.920314253647587],
 [13, 500, 0.920314253647587],
 [13, 600, 0.920314253647587],
 [13, 700, 0.920314253647587],
 [13, 800, 0.920314253647587],
 [13, 900, 0.920314253647587],
 [15, 300, 0.920314253647587],
 [15, 400, 0.920314253647587],
 [15, 500, 0.920314253647587],
 [15, 600, 0.920314253647587],
 [15, 700, 0.920314253647587],
 [15, 800, 0.920314253647587],
 [15, 900, 0.920314253647587],
 [17, 300, 0.920314253647587],
 [17, 400, 0.920314253647587],
 [17, 500, 0.920314253647587],
 [17, 600, 0.920314253647587],
 [17, 700, 0.920314253647587],
 [17, 800, 0.920314253647587],
 [17, 900, 0.920314253647587],
 [19, 300, 0.920314253647587],
 [19, 400, 0.920314253647587],
 [19, 500, 0.920314253647587],
 [19, 600, 0.920314253647587],
 [19, 700, 0.920314253647587],
 [19, 800, 0.920314253647587],
 [19, 900, 0.920314253647587]]

In [215]:
gbrt = GradientBoostingClassifier(n_estimators=600,random_state=0,max_depth=7,learning_rate=0.01)
gbrt.fit(train_3,train_2[["Survived"]])
print("훈련 세트 정확도 : {:.3f}".format(gbrt.score(train_3,train_2[["Survived"]])))

C:\Users\A\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도 : 0.957

In [222]:
test = pd.read_csv('../data/titanic/test.csv')

In [223]:
tmp=[]
for each in test["Sex"]:
    if each =="female":
        tmp.append(0)
    elif each=="male":
        tmp.append(1)
    else:
        tmp.append(np.nan)
test["Sex"]=tmp

In [224]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",1,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",1,NaN,1,1,2668,22.3583,NaN,C

In [225]:
test_1=test[["PassengerId","Pclass","Sex","Age","SibSp","Parch","Fare"]]
test_1.isnull().any()

PassengerId    False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare            True
dtype: bool

In [226]:
nan=[]
for i in range(len(test_1)):
    na=test_1.isnull().loc[i].sum()
    nan.append(na)


test_1["nan"]=nan

test_1_nan0=test_1[test_1["nan"]==0]
test_1_nan1=test_1[test_1["nan"]==1].reset_index()


for i in range(len(test_1_nan1)):
    if (test_1_nan1["SibSp"][i]==0):
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[0]
    elif (test_1_nan1["SibSp"][i]==1):
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[1]
    elif (test_1_nan1["SibSp"][i]==2):
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[2]
    elif (test_1_nan1["SibSp"][i]==3):
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[3]
    elif (test_1_nan1["SibSp"][i]==4):
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[4]
    else:
        test_1_nan1["Age"][i]=train_1.groupby(["SibSp"])["Age"].mean()[5]

C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [227]:
test_2=pd.concat([test_1_nan0,test_1_nan1])

In [257]:
test_2.isnull().any()

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare            True
nan            False
index           True
dtype: bool

In [268]:
test_2[["Fare"]][350:400]

       Fare
19   7.7500
20   8.7125
21   7.7792
22   6.4375
23   7.7500
24   7.7500
25  23.2500
26  25.4667
27   6.4375
28  51.8625
29  26.5500
30   7.8958
31      NaN
32   7.7333
33   7.0000
34  27.7208
35   7.5500
36   7.2292
37   7.7500
38  69.5500
39  26.0000
40   8.1125
41  15.5000
42  25.7417
43   7.0500
44   7.8792
45   8.0500
46  15.2458
47   7.7500
48   7.8792
49   7.8875
50  23.4500
51  14.4542
52   7.5500
53   7.7500
54   7.8958
55   0.0000
56   7.5500
57   8.0500
58   7.7500
59  15.5000
60   7.2250
61   7.7500
62   7.2500
63   7.2292
64   8.0500
65  39.6000
66   7.2292
67  21.6792
68  15.0458

In [287]:
test_2.loc[[31]]

    PassengerId  Pclass  Sex        Age  SibSp  Parch  Fare  nan  index
31          923       2    1  24.000000      2      0  31.5    0    NaN
31         1044       3    1  31.397558      0      0   NaN    1  152.0

In [312]:
fa=test_2[(test_2["Age"]<35) & (test_2["Age"]>30)].groupby(["Pclass","Age"])["Fare"].mean().reset_index()
fa[fa["Pclass"]==2].Fare.mean()

18.822915000000002

In [313]:
test_2[test_2["PassengerId"]==1044].Fare=fa[fa["Pclass"]==2].Fare.mean()

C:\Users\A\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [320]:
test_2[test_2["PassengerId"]==1044]["Fare"]=fa[fa["Pclass"]==2].Fare.mean()

C:\Users\A\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [337]:
test_2["Fare"]=test_2["Fare"].fillna(fa[fa["Pclass"]==2].Fare.mean())

In [339]:
test_2[test_2["PassengerId"]==1044]

    PassengerId  Pclass  Sex        Age  SibSp  Parch       Fare  nan  index
31         1044       3    1  31.397558      0      0  18.822915    1  152.0

In [340]:
test_2=test_2[["PassengerId",'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',"Fare"]]

In [341]:
test_3=test_2[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',"Fare"]]
test_3

    Pclass  Sex        Age  SibSp  Parch     Fare
0        3    1  34.500000      0      0   7.8292
1        3    0  47.000000      1      0   7.0000
2        2    1  62.000000      0      0   9.6875
3        3    1  27.000000      0      0   8.6625
4        3    0  22.000000      1      1  12.2875
..     ...  ...        ...    ...    ...      ...
82       3    0  31.397558      0      0   7.7208
83       3    0  31.397558      0      0   7.7500
84       3    1  31.397558      0      0   8.0500
85       3    1  31.397558      0      0   8.0500
86       3    1  30.089727      1      1  22.3583

[418 rows x 6 columns]

In [342]:
gbrt.predict(test_3)

array([0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0],
      dtype=int64)

In [343]:
gender_submission=pd.DataFrame({"PassengerId":test_2.PassengerId,
              "Survived":gbrt.predict(test_3)})
gender_submission

    PassengerId  Survived
0           892         0
1           893         0
2           894         1
3           895         1
4           896         1
..          ...       ...
82         1300         1
83         1302         1
84         1305         0
85         1308         0
86         1309         0

[418 rows x 2 columns]

In [344]:
gender_submission.to_csv("../data/gender_submission_10.csv",index=None)